html 
    head
        title= title 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        link(rel="stylesheet", href="./css/styles.css")
    body 
        div.login-form-image.text-center
            img(src="images/cookie.png", alt="Cookie Logo", width="150")

            h2.text-center.pb-1 Sign up

        div(class=`error${route === '/signUp' ? ' white-text' : ''}${route === '/newAccount' ? ' black-text' : ''}`, style="text-align: center;")= errorMessage         
        
        div.login-form(style="margin-top:-5px;")
            form(method="post", action="/newAccount", class="form")
                div.form-outline.mb-4
                input#email-input.form-control(type="email",name="email", placeholder="Email", required)

                div.form-outline.mb-4
                input#password-input.form-control(type="password",name="password", placeholder="Password", required)

                div.form-outline.mb-4
                input#password-input.form-control(type="text",name="username", placeholder="Username", required)
                br
                button.btn.btn-primary.btn-block.mb-4 Sign up


